<div class="container-fluid body">


    <h1 class="text-center">About</h1>
    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2> Insurance </h2>
            <ul>
                <li>Trade Insurance</li>
                <li>Term Insurance</li>
                <li>Exchange Insurance</li>
                <li>Ico Insurance</li>
                <li>Ieo Insurance</li>
                <li>Investment Insurance</li>
                <li>Portfolio Insurance</li>
            </ul>
        </div>
    </div>

    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2> Glowing border </h2>
            <p> some randon text goes here about company some randon text goes here about companysome randon text goes
                here
                about company, some randon text goes here about companysome randon text goes here about company </p>
        </div>
    </div>

    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2> Glowing border </h2>
            <p> some randon text goes here about company some randon text goes here about companysome randon text goes
                here
                about company, some randon text goes here about companysome randon text goes here about company </p>
        </div>
    </div>

</div>