<div class="container mt-5">
    <div class="row mb-3 mt-5 d-flex justify-content-center"> 
        <div class="col-xl-4 col-sm-6 py-2">
            <div class="card text-white back h-100">
                <div class="card-body back">
                    <div class="rotate">
                        <i class="fa fa-balance-scale fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Balance</h6>
                    <h1 class="display-4">134</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 py-2">
            <div class="card text-white back h-100">
                <div class="card-body back">
                    <div class="rotate">
                        <i class="fa fa-credit-card fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Pay</h6>
                    <h1 class="display-4">134</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 py-2">
            <div class="card text-white back h-100">
                <div class="card-body back">
                    <div class="rotate">
                        <i class="fa fa fa-inbox fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Receive</h6>
                    <h1 class="display-4">134</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 mt-5 d-flex justify-content-center"> 
        <div class="col-xl-4 col-sm-6 py-2">
            <div class="card text-white back h-100">
                <div class="card-body back">
                    <div class="rotate">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">My Insurance</h6>
                    <h1 class="display-4">134</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 py-2">
            <div class="card text-white back h-100">
                <div class="card-body back">
                    <div class="rotate">
                        <i class="fa fa-link fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Claim</h6>
                    <h1 class="display-4">134</h1>
                </div>
            </div>
        </div>
    </div>
</div>