label{
    font-weight: bold;
}

input{
    border: 1px solid blue;
}

.main{
    margin-left: 30px;
}

.supp{
    color: red;
    font-weight: bolder;
}

.but{
    font-weight: 600;
    color: white;
}