<p>main works</p>
<!-- video starts -->
<div>

</div>
<!-- video ends -->

<div class="container-fluid">
    <div class="row vid">
        <div class="col-8">
            <div class="card video-card">
                <video autoplay muted loop id="myVideo">
                    <source src="assets/videos/block.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                    <p>Block Chain</p>

                    <p>Bitcoin Etherium</p>
                    <button class="btn btn-light" routerLink='#'>Open</button>

                </div>
            </div>
        </div>
        <div class="col-4">
            <h1>abcd</h1>
        </div>
    </div>
</div>