<div class="container-fluid mb-5">
    <p class="background-text">Documents</p>
    <h1 class="text-center">WHITE PAPER</h1>
    <div class="text-center mt-3 txt-p ">
        <p class="text-center">Terms of service are rules by which one must agree to abide in
            order to
            use a
            service. <br>
            Terms of service can also be merely a disclaimer, especially regarding the use of websites.</p>
    </div>

    <div class="row mt-5">
        <div class="col-lg-4 col-sm-12">
            <div class="card wp-card">
                <h2>Crypto</h2>
            </div>
        </div>

        <div class="col-lg-8 col-sm-12">
            <div class="card wp-card2">
                <h2>Whitepaper</h2>
                <p class="mb-3">A white paper is an authoritative report or guide that informs readers concisely about a
                    complex
                    issue and presents the issuing body's philosophy on the matter. It is meant to help readers
                    understand an issue, solve a problem, or make a decision.
                </p>

                <p class="mt-3">The initial British term concerning a type of government-issued document has
                    proliferated, taking a
                    somewhat new meaning in business. In business, a white paper is closer to a form of marketing
                    presentation, a tool meant to persuade customers and partners and promote a product or viewpoint,
                    White papers may be considered grey literature.
                </p>

                <p class="mt-3"> Since the early 1990s, the term "white paper", or "whitepaper", has been applied to
                    documents used
                    as marketing or sales tools in business.
                </p>

                <div class="download float-right">
                    <mat-icon> vertical_align_bottom</mat-icon>

                </div>
                <h5 class="mb-5 english">English</h5>
            </div>
        </div>
    </div>
</div>